.navbar {
	background-color: #454545;
	border: 2px;
	border-color: FF9420; 
	box-shadow: 10px 10px 5px #303030;
	color: #FF9420 !important;
	font-weight: bold;
}
.navbar-brand:hover .navbar-inverse{
	background-color: #A8A8A8 !important;
	border: 0px;
	color: #FF9420;
	font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FF9420;
    background-color: #A8A8A8;
}
a:link :hover {
	color: #FF9420;
	font-weight: bold;
  text-shadow: 1px 1px #FF9420;
}
.navbar-default .navbar-nav>li>a {
    color: #FF9420;
}